@import 'tailwindcss';
@plugin "daisyui" {
	logs: false;
	themes:
		pursuit --default,
		dark --prefersdark;
}
@plugin "daisyui/theme" {
	name: 'light';
	default: true;
	--color-primary: '#d7827e';
	--color-secondary: '#286983';
	--color-accent: '#b4637a';
	--color-neutral: '#f2e9e1';
	--color-base-100: '#faf4ed';
	--color-info: '#56949f';
	--color-success: '#907aa9';
	--color-warning: '#ea9d34';
	--color-error: '#eb6f92';
}
@plugin "daisyui/theme" {
	name: 'dark';
	--color-primary: '#ea9a97';
	--color-secondary: '#3e8fb0';
	--color-accent: '#eb6f92';
	--color-neutral: '#393552';
	--color-base-100: '#191724';
	--color-info: '#9ccfd8';
	--color-success: '#c4a7e7';
	--color-warning: '#f6c177';
	--color-error: '#b4637a';
}
@plugin "daisyui/theme" {
	name: 'pursuit';
	default: true;
	prefersdark: false;
	color-scheme: 'light';
	--color-base-100: #f6f2e1;
	--color-base-200: #ddd9ca;
	--color-base-300: #c4c1b4;
	--color-base-content: #181816;
	--color-primary: #e94e6d;
	--color-primary-content: #fcedf0;
	--color-secondary: #327a88;
	--color-secondary-content: #e6e6e6;
	--color-accent: #0f084b;
	--color-accent-content: #e7e6ed;
	--color-neutral: #90c693;
	--color-neutral-content: #17180f;
	--color-info: #082c2c;
	--color-info-content: #e6e9e9;
	--color-success: #15706c;
	--color-success-content: #e7f0f0;
	--color-warning: #ede2e0;
	--color-warning-content: #171616;
	--color-error: #906c93;
	--color-error-content: #f3f0f4;
	--radius-selector: 0rem;
	--radius-field: 0rem;
	--radius-box: 0rem;
	--size-selector: 0.25rem;
	--size-field: 0.25rem;
	--border: 2px;
	--depth: 1;
	--noise: 1;
}

/* Add your global component styles here */
@theme {
	--font-sans: 'Space Grotesk', sans-serif;
	--font-serif: 'Montagu Slab', serif;
	--font-space-grotesk: 'Space Grotesk', sans-serif;
	--font-montagu-slab: 'Montagu Slab', serif;
}

body {
	margin: 0;
	font-family:
		'Space Grotesk' -apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		'Roboto',
		'Oxygen',
		'Ubuntu',
		'Cantarell',
		'Fira Sans',
		'Droid Sans',
		'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
